* {
  font-family: Arial;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

#header {
  top:0;
  position: fixed;
  float: right;
}

#middle {
  margin: auto;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
}

#footer_right {
  float: right;
}

#footer_left {
  float: left;
}
